*.zip
*.log
.DS_Store
Thumbs.db
*.zip
*.7z
*.dat
*.vdf
*.vtf
*.vpk
vtflib/
infra_russian/
source_captioncompiler/
infra_russian_src/resource/subtitles_english.txt
Translating_Phoshop_Sources/
tools/materials.txt
